body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fffaf4;
    color: #333;
    scroll-behavior: smooth;
}

header{
    color: white;
    background-color: #6f4e37;
    text-align: center;
    padding: 20px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
    color: rgb(209, 220, 10);
}

#menu{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px 0 30px 0;
    flex-wrap: wrap; /* Öğelerin alt satıra geçmesini sağlar */
}

.menu-item{
    background-color: #f6ede4;
    padding: 50px 30px 0px 30px;
    border-radius: 30px;
    width: 250px;
    height: 520px;
    text-align: center;
}

.menu-item img{
    width: 100%;
    display: block;
    border-radius: 30px;
}

.menu-item h2{
    margin: 40px 0 0 0;
    color: #333;
    font-size: 1.3em;
}

.menu-item p{
    color: #555;
    font-size: 1.2em;
}

.footer{
    text-align: center;
    background-color: #6f4e37;
    color: white;
    width: 100%;
    margin-top: 40px;
    padding: 10px 0;
    border-radius: 30px 30px 0 0;
}

footer p{
    text-align: center;
    margin: 40px 0;
}

.footer-nav{
    margin: 15px 0 40px 0;
}

.footer-nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bold;

}

